<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>Расписание занятий онлайн | Искусство Жизни</title>
        <link rel="stylesheet" href="online/styles.css">
        <script>
            let schedule = {{ schedule|tojson }};
        </script>
        <script src="online/moment.min.js"></script>
        <script src="online/moment.ru.js"></script>
        <script src="online/schedule.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-675465-7"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-675465-7');
        </script>
    </head>
    <body>
        <h1>Расписание поддерживающих занятий онлайн</h1>
        <p class="local-time">Время рассчитано для города, в котором вы находитесь.</p>
        <table>
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>Проводит</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </body>
</html>
